<section class="section">
  <div class="container">
    <h1 class="title">
      ka-ching demo 🤑
    </h1>
    <p class="subtitle">
      a tiny little example app - with docker-compose!
    </p>
  </div>
</section>
