<section class="section">
  <div class="container">
    <h1 class="title">
      ka-ching demo 🤑
    </h1>
    <p class="subtitle">
      a tiny little example app - with docker-compose!
    </p>
  </div>
</section>
<section>
  <div class="container">
    <select id="select-tenant" hx-on="change: window.location.href = (document.getElementById('select-tenant').options[document.getElementById('select-tenant').selectedIndex].value) + '/actions'">
      <option value="" disabled selected hidden>Choose a tenant</option>
      <% @tenants.each do |tenant| %>
        <option value="<%= tenant %>"><%= tenant %></option>
      <% end %>
    </select>
  </div>
</section>
