<div class="container">
  <section class="section">
    <h1 class="title">
      ka-ching demo 🤑
    </h1>
    <p class="subtitle">
      a tiny little example app - with docker-compose!
    </p>
  </section>
  <section class="section">
    <p>This project has the purpose to demonstrate what can be easily achieved with:</p>
    <ul>
      <li>
        <a href="https://github.com/simonneutert/ka-ching-backend" target="_blank">
          ka-ching-backend
        </a>
      </li>
      <li>
        <a href="https://github.com/simonneutert/ka-ching-client" target="_blank">
          ka-ching-client
        </a>
      </li>
    </ul>
  </section>
  <section class="section">
    <p>Now, get going <a href="/tenants">create or select a tenant</a></p>
  </section>
</div>
