<div class="container">
  <section class="section">
    <h1 class="title">
      ka-ching demo 🤑
    </h1>
    <p class="subtitle">
      a tiny little example app - with docker-compose!
    </p>
    <hr>
    <p>Get going <a href="/tenants">create or select a tenant</a></p>
  </section>
</div>
