<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ka-ching demo 🤑</title>
    <link rel="stylesheet" href="/bulma.css">
    <script src="/htmx.js" ></script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
