<h2 class="title is-h2">Lock</h2>
<div class="columns is-desktop">
  <div class="column">
    <form hx-post="/lock">
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Amount in cents (what you counted)</label>
        </div>
        <div class="field-body">
          <div class="field">
            <p class="control is-expanded">
              <input class="input" name="amount_cents" type="number" placeholder="amount in cents">
            </p>
          </div>
        </div>
      </div>
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Context for the locking</label>
        </div>
        <div class="field-body">
          <div class="field">
            <p class="control is-expanded">
              <textarea class="textarea" name="context" placeholder="e.g. Hello world or what you want to append to your booking this will be stored in a json column"></textarea>
            </p>
          </div>
        </div>
      </div>
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Date of locking (yyyy/mm/dd)</label>
        </div>
        <div class="field-body">
          <div class="field">
            <p class="control is-expanded">
              <input class="input" name="year" type="number" placeholder="2023" value="<%= Date.today.year %>">
            </p>
          </div>
          <div class="field">
            <p class="control is-expanded">
              <input class="input" name="month" type="number" placeholder="1" value="<%= Date.today.month %>">
            </p>
          </div>
          <div class="field">
            <p class="control is-expanded">
              <input class="input" name="day" type="number" placeholder="1" value="<%= Date.today.day %>">
            </p>
          </div>
        </div>
      </div>
      <div class="field is-grouped is-grouped-right">
        <p class="control">
          <button class="button is-primary">
            Submit
          </button>
        </p>
        <p class="control">
          <p class="button is-light" onclick="document.getElementById('cashing').innerHTML=''">
            Cancel
          </p>
        </p>
      </div>
    </form>
  </div>
</div>
<div hx-get="/saldo" hx-target="#saldo" hx-trigger="load delay:1ms"></div>
<div hx-get="/bookings" hx-target="#bookings" hx-trigger="load delay:1ms"></div>
